


.Cart_td{
  text-align: start;
   
}


.Cart_table{
    margin-top: 80px;
    margin-left: 80px;
    width: 1500px;
    
    
}
.Price_Details_div{
    margin-top: -130px;
    margin-left: 30px;

}

